.image {
  overflow: hidden;
  position: relative;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.title {
  margin: 0.5em 0 1rem 0;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 0 1em 1.5em 1em;
  font-size: 1.5rem;
}
